html[data-theme-dark] {
  .contacts {
    &__icon {
      color: #828386;
      &:hover {
        color: #b3b4b9;
      }
    }
  }
}

.contacts {
  &__link {
    display: inline-block;
  }
  &__icon {
    width: 25px;
    height: 25px;
    color: #fff;
    transition: color 0.3s ease 0s;
    &_header {
      color: #4d4949;
    }
  }
}
