.nav {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  &__icon {
    width: 24px;
    height: 24px;
    color: #fff;
    @media (max-width: $md2+px) {
      width: 30px;
      height: 30px;
    }
  }
  li {
    margin-bottom: 20px;
    @media (max-width: $md2+px) {
      margin-bottom: 30px;
    }
    a {
      display: flex;
      align-items: center;

      span {
        margin-left: 20px;
        color: rgb(230, 229, 221);
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        transition: color 0.2s ease 0s;
        @media (max-width: $md2+px) {
          display: none;
        }
      }
    }
    &:last-child {
      margin-bottom: 0px;
    }
    &:hover span {
      color: #fff;
      transform: scale(0.98, 0.98);
    }
  }
}
