html[data-theme-dark] {
  .projects__item {
    color: #d6d8dd;
    figure {
      div {
        border: 1px solid #212429;
      }
    }
  }
}

.projects {
  &__title {
  }

  &__body {
  }

  &__items {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: block;
    // border-radius: 5px;
    margin-bottom: 20px;
    //padding-top: 150px;
    // height: 200px;
    // max-width: 40%;
    flex: 0 0 30%;
    overflow: hidden;
    text-decoration: none;
    color: black;
    @media (max-width: 700px) {
      flex: 0 0 48%;
    }
    @media (max-width: $md4+px) {
      flex: 0 0 100%;
    }
    figure {
      div {
        border-radius: 8px;
        border: 1px solid rgb(230, 224, 224);
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
    figcaption {
      padding: 0px 5px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      span {
        display: block;
        &:first-child {
          text-transform: uppercase;
        }
      }
    }
  }
}
