.signature {
  //text-align: center;
  color: rgb(230, 229, 221);
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
  h3 {
    font-family: "RobotoSlab";
    line-height: 20px;
    font-size: 16px;
    font-style: italic;
  }
}
