html[data-theme-dark] {
  .signature {
    color: #828386;
  }
}

.signature {
  //text-align: center;
  color: rgb(230, 229, 221);
  h1,
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
  h3 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px;
    font-size: 16px;
    font-style: italic;
  }
}
