@import "mixins";
@import "fonts";
$fontFamily: "Roboto";

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1280px;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

@import "null";
@import "toggler";
@import "avatar";
@import "header";

@import "nav";
@import "signature";
@import "contacts";
@import "sidebar";
@import "skills";
@import "projects";
@import "certificate";
@import "footer";

html[data-theme-dark] {
	body {
		//background-color: #ac9c7f;
		background-color: #495057;
		color: #d6d8dd;
	}
}
body {
	color: #4d4949;
	font-size: 16px;
	//	background: rgb(26, 25, 25);
	background: #fff;
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	//overflow: hidden;
	display: flex;
	flex-direction: column;

	&._loaded {
	}
}

.wrapper__box {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding-right: 80px;
	padding-left: 420px;
	@media (max-width: 1400px) {
		padding-right: calc(0px + 80 * ((100vw - 320px) / (1400 - 320)));
		padding-left: calc(320px + 100 * ((100vw - 320px) / (1400 - 320)));
	}
	@media (max-width: $md2) {
		padding-right: 40px;
		padding-left: 120px;
	}
	@media (max-width: $md3) {
		padding-left: 40px;
	}
	@media (max-width: 576px) {
		padding-left: 20px;
		padding-right: 20px;
	}
	@media (max-width: $md4) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.page {
	flex: 1 1 auto;
	//padding-bottom: 80px;
	padding-bottom: calc(30px + 50 * ((100vw - 320px) / (1400 - 320)));
	@media (max-width: $md3) {
		margin-top: 70px;
		//	padding-bottom: 50px;
	}
	@media (max-width: $md4) {
		margin-top: 50px;
		//	padding-bottom: 20px;
	}
	&__section {
		padding-top: 50px;
		@media (max-width: $md2) {
			padding-top: 30px;
		}
		@media (max-width: $md3) {
			//padding-top: 85px;
		}
	}
}

.section {
	&__title {
		//font-size: 32px;
		//line-height: 36px;
		font-weight: 700;
		line-height: 1.2em;
		font-size: calc(20px + 12 * ((100vw - 320px) / (1400 - 320)));
		@media (max-width: $md4) {
			text-align: center;
		}
	}
	&__subtitle {
		margin: 20px 0px 0px 0px;
		font-size: calc(18px + 6 * ((100vw - 320px) / (1400 - 320)));
		line-height: 1.2em;
		@media (max-width: $md4) {
			text-align: center;
		}
	}
	&__body {
		
		font-weight: 300;
		font-size: 16px;
		line-height: 28px;
		margin-top: calc(20px + 20 * ((100vw - 320px) / (1400 - 320)));

		@media (max-width: $md3) {
			font-size: 14px;
		}
	}
}
.list {
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	&__li {
		background: url("../img/list/01.svg") left top no-repeat;
		padding: 0px 0px 10px 30px;
		&:last-child {
			padding-bottom: 0px;
		}
	}
}

.code-example {
	&__code {
		margin-top: 20px;
		font-size: 14px;
		line-height: 20px;
		font-family: "Consola";
		@media (max-width: $md4) {
			font-size: 12px;
			line-height: 18px;
		}
	}
}
.ic {
	width: 50px;
	img {
		width: 100%;
	}
}

.contacts-section {
	li {
		display: flex;
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
	&__icon {
		width: 30px;
		height: 30px;
		color: #141414;
	}
	&__contact {
		margin-left: 20px;

		display: block;
		text-decoration: none;
		color: #4d4949;
		line-height: 25px;
	}
	&__link {
		display: flex;
		align-items: center;
	}
	&__contacts {
		font-family: "Roboto";
		margin-top: 40px;
		font-size: 18px;
		//font-family: "Roboto";
		padding-left: 20px;
	}
}
html[data-theme-dark] {
	.contacts-section {
		&__icon {
			width: 30px;
			height: 30px;
			color: #d6d8dd;
		}
		&__contact {
			color: #d6d8dd;
		}
	}
}
