<footer class="footer">
	<div class="footer__content wrapper__box">
		<a href="https://github.com/Arthur-Ming" target="_blank" class="contacts__link contacts-section__link">
			<svg class="contacts__icon contacts-section__icon" viewBox="0 0 438.549 438.549">
				<use xlink:href='img/sprite.svg#git' />
			</svg>
			<span class="contacts-section__contact footer__contact">Arthur-Ming</span>
		</a>
		<p class="footer__year">2022</p>
		<a href="https://rs.school/js/" class="rss-logo footer__logo" target="_blank">
			<img src="img/footer/rs_school_js.svg" alt="">
		</a>
	</div>
</footer>