<aside class="sidebar menu__body">
    <div class='avatar sidebar__avatar'>
        <img class='avatar__image' src="img/avatar/03.jpg" alt="">
    </div>
    <div class="signature sidebar__signature">
        <h1>Artur Mingazhov</h1>
        <h3>web developer</h3>
    </div>
    <ul class="contacts sidebar__contacts">
        <li>
            <a href="https://github.com/Arthur-Ming" target="_blank" class="contacts__link">
                <svg class="contacts__icon" viewBox="0 0 438.549 438.549">
                    <use xlink:href='img/sprite.svg#git' />
                </svg>
            </a>
        </li>
        <li>
            <a href="mailto:arthurming7@gmail.com" target="_blank" class="contacts__link">
                <svg class="contacts__icon" viewBox="0 0 50 50">
                    <use xlink:href='img/sprite.svg#email' />
                </svg>
            </a>
        </li>
        <li>
            <a href="https://t.me/arthur_ming" target="_blank" class="contacts__link">
                <svg class="contacts__icon" viewBox="0 0 32 32">
                    <use xlink:href='img/sprite.svg#telegram' />
                </svg>
            </a>
        </li>
    </ul>
    <nav class='nav sidebar__nav'>
        <ul>
            <li><a href="#about" class="nav__item">
                    <svg class="nav__icon" viewBox="0 0 24 24">
                        <use xlink:href='img/sprite.svg#about' />
                    </svg>
                    <span>About</span></a>
            </li>
            <li><a href="#skills" class="nav__item">
                    <svg class="nav__icon" viewBox="0 0 24 24">
                        <use xlink:href='img/sprite.svg#skills' />
                    </svg>
                    <span>Skills</span></a>
            </li>
            <li><a href="#exp" class="nav__item">
                    <svg class="nav__icon" viewBox="0 0 24 24">
                        <use xlink:href='img/sprite.svg#experience' />
                    </svg>
                    <span>Experience</span></a>
            </li>
            <li><a href="#edu" class="nav__item">
                    <svg class="nav__icon" viewBox="0 0 24 24">
                        <use xlink:href='img/sprite.svg#education' />
                    </svg>
                    <span>Education</span></a>
            </li>
            <li><a href="#contacts" class="nav__item">
                    <svg class="nav__icon" viewBox="0 0 24 24">
                        <use xlink:href='img/sprite.svg#contacts' />
                    </svg>
                    <span>Contacts</span></a>
            </li>
        </ul>
    </nav>
</aside>